.navbar{
    height: 60px;
    width: 100%;
    background-color: #016c01;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.main__links{
    display: flex;
    align-items: center;
    gap: 10px;
}
.item {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fdfdfd;
    position: relative;
    cursor: pointer;
}
.main__item{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
    position: relative;
    cursor: pointer;
    font-weight: bolder;
}


.item:active, .main__item:active, .search__icon:active {
    transition: 0.1s;
    color: #d9ffd9;
}

.active {
    color: #53fa53;
}
.under__nav{
    border-top: 1px solid black;
    height: 30px;
    width: 100%;
    background-color: #6bc408;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 20px;
    font-weight: bold;
}