*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

html, body {
    background: linear-gradient(to bottom right, #e0f7e9, #56947b) fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    white-space: normal;
    word-wrap: break-word;

}

.cursor-pointer{
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
.dark > th {
    background-color: #313131 !important;
    color: white !important;
}

.table {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px 12px;
    text-align: left;
    border: 2px solid #b9b9b9;
}

.table thead th {
    font-weight: bold;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}
.id{
    width: 4%;
}
.wider{
    width: 12%;
}
.little-wider{
    width: 9%;
}
.wider-5{
    width: 5%;
}
.actions{
}
.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 85% !important;
}
.table td, .table th {
    text-align: center;
}
.dark-border{
    border: 2px solid #065b06;
}
.buttons-center{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.button_outline{
    background-color: #e4edfd;
    border: 2px solid #50439f;
    color: #50439f;
    padding: 10px 20px;
    border-radius: 12px;
    width: 120px;
    font-size: 20px;
    &:hover{
        background-color: #50439f;
        color: white;
    }

}
.button_filled{
    background-color: #8472e8;
    border: 2px solid #8472e8;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    width: 120px;
    font-size: 20px;
    &:hover{
        background-color: #50439f;
        color: white;
    }
}

.checkbox-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.checkbox-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}
.color-green{
    color: #1a811a;
    font-weight: bold;
}

@media (max-width: 1400px) {
    body {
        font-size: 14px !important;
    }
    .table {
        font-size: 7px !important;

    }
    .table td{
        font-size: 12px !important;
    }

    .little-wider{
        width: 9%;
    }
    .wider{
        width: 10%;
    }
    .btn{
        font-size: 10px !important;
    }
}
