*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

html, body {
    background-color: #005000;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}