*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

html, body {
    background: linear-gradient(to bottom right, #e0f7e9, #56947b) fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
.dark > th {
    background-color: #313131 !important;
    color: white !important;
}

.table {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #b9b9b9;
}

.table thead th {
    font-weight: bold;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}
.id{
    width: 4%;
}
.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 85% !important;
}
.table td, .table th {
    text-align: center;
}
